@import "elements/listing.scss";
@import "elements/detail.scss";
@import "elements/modal.scss";

body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

.header {
    background-color: #3367d6;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 0 24px 0 18px;

    .title {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: .25px;
        line-height: normal;
        margin-left: 6px;
    }
}

button {
    outline: none;
    cursor: pointer;
    padding: 0;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    fill: #fff;
    stroke: none;
    width: 20px;
    height: 20px;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;

    svg {
        background-color: #3367d6;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
}

.container {
    margin: 24px auto;
    max-width: 960px;
    border-radius: 4px;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
}
