.detail {
    .item {
        &.item__header {
            .back {
                margin-right: 0;

                &.disabled {
                    pointer-events: none;
                }
            }
        }
        &.description {
            padding: 10px 40px;
            justify-content: flex-start;
            height: auto;
            flex-direction: column;
            align-items: flex-start;
            min-height: auto;

            .title {
                margin: 0 0 10px;
            }
            .content {
                max-width: 100%;
            }
        }
    }
}
