.listing {
    display: flex;
    flex-direction: column;
    background-color: #fff;

    .item {
        padding-left: 20px;
        height: 40px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        text-decoration: none;
        position: relative;
        cursor: default;
        font-size: 13px;
        padding-right: 50px;
        justify-content: flex-end;

        &.empty {
            justify-content: center;
            height: auto;

            & > div {
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        &.item__header {
            justify-content: flex-end;
            background-color: #3367d6;
            & > div {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                color: #fff;
            }
            .title {
                color: #fff;
                margin-right: 0;

                & > div:first-child {
                    margin-right: 5px;
                }
            }
            .back {
                color: #fff;
                cursor: pointer;
                margin-left: 20px;
                margin-right: auto;
            }
            button {
                color: #fff;
            }
            .tgl.tgl-flat {
                &:checked + .tgl-btn {
                    background: #fff;
                }
                & + .tgl-btn {
                    background: transparent;
                }
            }
            .status {
                margin-left: auto;
            }
        }
        &.load {
            justify-content: center;
        }
        .title {
            color: #202124;
            margin-left: 20px;
            margin-right: auto;

            &.title_button {
                cursor: pointer;
            }
        }
        .status {
            margin-right: 20px;
            display: flex;
            align-items: center;
            & > div {
                margin-right: 8px;
            }
            .tgl + .tgl-btn {
                margin-bottom: -3px;
            }
        }
        .delete {
            button {
                background: none;
                width: auto;
            }
        }
    }
}

.tgl {
    display: none;

    &,
    &:after,
    &:before,
    & *,
    & *:after,
    & *:before,
    & + .tgl-btn {
        box-sizing: border-box;
        &::selection {
            background: none;
        }
    }

    & + .tgl-btn {
        outline: 0;
        display: block;
        width: 4em;
        height: 2em;
        position: relative;
        cursor: pointer;
        user-select: none;
        &:after,
        &:before {
            position: relative;
            display: block;
            content: "";
            width: 50%;
            height: 100%;
        }

        &:after {
            left: 0;
        }

        &:before {
            display: none;
        }
    }

    &:checked + .tgl-btn:after {
        left: 50%;
    }

    &.tgl-flat {
        & + .tgl-btn {
            padding: 2px;
            transition: all .2s ease;
            background: #fff;
            border: 4px solid #f2f2f2;
            border-radius: 2em;
            &:after {
                transition: all .2s ease;
                background: #f2f2f2;
                content: "";
                border-radius: 1em;
            }
        }

        &:checked + .tgl-btn {
            border: 4px solid #3367d6;
            &:after {
                left: 50%;
                background: #3367d6;
            }
        }
    }
}

@media (max-width: 1060px) {
    .listing {
        max-width: 95%;
    }
}
