.modal {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    display: table;
    transition: opacity .3s ease;
    color: #202124;

    .wrapper {
        display: table-cell;
        vertical-align: middle;
    }
    .container {
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        z-index: 2;
        position: relative;
        width: max-content;
        border-radius: 10px;
    }
    .title {
        margin-bottom: 16px;

        h3 {
            margin-top: 0;
            color: #42b983;
        }
    }
    .fields {
        margin-bottom: 44px;

        input, textarea, .category {
            width: 472px;
            height: 32px;
            border: none;
            outline: none;
            padding: 6px 8px;
            caret-color: #1A73E8;
            text-overflow: ellipsis;
            background-color: #e9eaee;
            border-radius: 4px;
        }
        textarea {
            resize: vertical;
            overflow: hidden;
            min-height: 32px;
        }
        .title {
            color: #5F6368;
            display: block;
            font-size: 10px;
            letter-spacing: .4px;
            line-height: 1em;
            margin-bottom: 8px;
            font-weight: bold;
        }
        .item:not(:last-child) {
            margin-bottom: 26px;
        }
    }
    .functional {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
            width: auto;
            align-items: center;
            border: 1px solid #DADCE0;
            border-radius: 4px;
            box-sizing: border-box;
            color: #1A73E8;
            cursor: pointer;
            display: inline-flex;
            flex-shrink: 0;
            font-weight: 500;
            height: 32px;
            justify-content: center;
            min-width: 5.14em;
            outline-width: 0;
            padding: 0 16px;
            position: relative;
            user-select: none;
            font-size: 13px;

            &:hover {
                border-color: rgb(210, 227, 252);
            }
            &.cancel {
                background-color: #fff;

                &:hover {
                    background-color: rgba(66, 133, 244, .04);
                }
            }
            &.save {
                color: #fff;
                background-color: #1A73E8;

                &:hover {
                    box-shadow: 0 0px 2px 0 rgba(66, 133, 244, .3), 0 1px 2px 1px rgba(66, 133, 244, .15);
                    background-color: rgba(26, 115, 232, .9);
                }
            }
            &:not(:last-child) {
                margin-right: 8px;
            }
        }
    }
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
