<template>
    <div class="app">
        <div class="to-do-listing">
            <div class="header">
                <h1 class="title">Список задач</h1>
<!--                <button-->
<!--                    class="add"-->
<!--                    name="add"-->
<!--                    @click="$store.commit('changeMenuState', { type: 'bookmarksAdd', element: $event.target.getBoundingClientRect()}), $store.commit('changeActiveBookmark', null)"-->
<!--                >-->
<!--                    <svg viewBox="0 0 24 24" style="display: block; width: 100%; height: 100%;">-->
<!--                        <g>-->
<!--                            <path-->
<!--                                d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>-->
<!--                        </g>-->
<!--                    </svg>-->
<!--                </button>-->
            </div>

            <Modal v-if="modalState"/>
            <router-view/>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    import Modal from './Modal';

    export default {
        name: 'App',
        components: {
            Modal,
        },
        computed: {
            ...mapGetters([
                'modalState'
            ]),
        },
    };
</script>

<style scoped>
</style>
