<template>
    <div class="listing container">
        <div class="wrapper">
            <div class="item item__header">
                <div class="back"></div>

                <div
                    class="title title_button"
                    @click="$store.dispatch('setModalType', 'category'), $store.dispatch('changeModalState', true)"
                >
                    Добавить категорию
                </div>
            </div>
            <div class="item empty">
                <div v-if="categories == null">Загрузка...</div>
                <div v-else-if="categories.length <= 0">Категорий не обнаружено</div>
            </div>
            <div
                class="item"
                v-for="category in categories"
            >
                <router-link
                    class="title title_button"
                    :to="{name: 'tasks', params: { categoryId: category.id }}"
                >
                    {{ category.name }}
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        name: "Categories",
        methods: {
            createCategory(category) {
                this.$store.dispatch('createCategory', category);
            },
        },
        computed: {
            ...mapGetters([
                'categories'
            ])
        },
        mounted() {
            this.$store.dispatch('fetchCategories');
        },
    }
</script>

<style scoped>
</style>
