<template>
    <transition name="modal">
        <div class="modal">
            <div class="wrapper">
                <form
                    class="container"
                    @submit.prevent="save()"
                >
                    <div class="title">
                        <slot name="header">
                            {{ modalType == 'category' ?  'Добавить категорию' : 'Добавить задачу' }}
                        </slot>
                    </div>

                    <div class="fields">
                        <slot name="body">
                            <div class="item">
                                <div class="title">Название</div>
                                <input
                                    type="text"
                                    id="name"
                                    required
                                    @input="updateLocalData($event)"
                                >
                            </div>
                            <div
                                class="item"
                                v-if="modalType == 'task'"
                            >
                                <div class="title">Описание</div>
                                <textarea
                                    type="text"
                                    id="description"
                                    required
                                    @input="updateLocalData($event)"
                                ></textarea>
                            </div>
                            <div
                                class="item"
                                v-if="modalType == 'task'"
                            >
                                <div class="title">Категория</div>
                                <div class="category">{{ currentCategory.name }}</div>
                                <input
                                    type="hidden"
                                    id="category_id"
                                    required
                                    :value="currentCategory.id"
                                    @input="updateLocalData($event)"
                                >
                            </div>
                        </slot>
                    </div>

                    <div class="functional">
                        <slot name="footer">
                            <button
                                type="button"
                                class="cancel"
                                @click="$store.dispatch('changeModalState', false)"
                            >
                                Отмена
                            </button>
                            <button
                                class="save"
                                type="submit"
                                value="Submit"
                                @click="$store.dispatch('changeModalState', false)"
                            >
                                Сохранить
                            </button>
                        </slot>
                    </div>
                </form>

                <div
                    class="overlay"
                    @click="$store.dispatch('changeModalState', false)"
                ></div>
            </div>
        </div>
    </transition>
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        name: 'Modal',
        data() {
            return {
                localData: {},
            };
        },
        computed: {
            ...mapGetters([
                'currentCategory',
                'modalType'
            ]),
        },
        methods: {
            save() {
                if (this.modalType == 'category') {
                    this.$store.dispatch('createCategory', this.localData);
                } else if (this.modalType == 'task') {
                    this.$store.dispatch('createTask', this.localData);
                }
            },
            updateLocalData(e) {
                this.localData[e.target.id] = e.target.value;
            },
        },
        mounted() {
            if (this.modalType == 'task') {
                this.localData['category_id'] = this.$route.params.categoryId;
            }
        },
    };
</script>

<style scoped>
</style>
