<template>
    <div class="listing container">
        <div class="wrapper">
            <div class="item item__header">
                <div
                    class="back"
                    @click="$router.go(-1)"
                >
                    Назад
                </div>

                <div
                    class="title title_button"
                    @click="$store.dispatch('setModalType', 'task'), $store.dispatch('changeModalState', true)"
                >
                    Добавить задачу
                </div>
            </div>
            <div class="item empty">
                <div v-if="tasks == null">Загрузка...</div>
                <div v-else-if="tasks.length <= 0">Задач не обнаружено</div>
            </div>
            <div
                class="item"
                v-for="(task, index) in tasks"
                v-if="currentCategory"
            >
                <router-link
                    class="title title_button"
                    :to="{name: 'task', params: { categoryId: currentCategory.id, taskId: task.id }}"
                >
                    {{ task.name }}
                </router-link>

                <div class="status">
                    <div>Статус:</div>
                    <input
                        :id="'cb-' + index"
                        type="checkbox"
                        class="tgl tgl-flat"
                        :checked="task.status ? true : false"
                        :disabled="disableAction ? true : false"
                        @input="changeStatus($event, task)"
                    >
                    <label
                        :for="'cb-' + index"
                        class="tgl-btn"
                    ></label>
                </div>
                <div class="delete">
                    <button
                        @click="$store.dispatch('deleteTask',{task: task, routeToBack: false})"
                    >
                        Удалить
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        name: "Tasks",
        data() {
            return {
                disableAction: false,
            }
        },
        methods: {
            createTask(task) {
                this.$store.dispatch('createTask', task);
            },
            // блокируем быстрые нажатия статуса задачи
            changeStatus(event, task) {
                this.disableAction = true;

                this.$store.dispatch('changeTask', {
                    id: task.id,
                    status: event.target.checked
                }).then(() => {
                    this.disableAction = false;
                });
            },
        },
        computed: {
            ...mapGetters([
                'tasks',
                'currentCategory'
            ])
        },
        mounted() {
            this.$store.state.tasks = null;
            this.$store.dispatch('fetchTasks', this.$route.params.categoryId);
            this.$store.dispatch('getCurrentCategory', this.$route.params.categoryId);
        },
    }
</script>

<style scoped>
</style>
