<template>
    <div class="listing detail container">
        <div class="wrapper">
            <div
                class="item load"
                v-if="!currentTask"
            >
                Загрузка...
            </div>
            <div
                class="item item__header"
                v-if="currentTask"
            >
                <div
                    class="back"
                    :class="{ 'disabled': disableAction }"
                    @click="$router.go(-1)"
                >
                    Назад
                </div>

                <div class="title">
                    <div>Имя задачи:</div>
                    <div>{{ currentTask.name }}</div>
                </div>

                <div class="status">
                    <div>Статус:</div>
                    <input
                        :id="'cb-' + currentTask.id"
                        type="checkbox"
                        class="tgl tgl-flat"
                        :checked="currentTask.status ? true : false"
                        :disabled="disableAction ? true : false"
                        @input="changeStatus($event)"
                    >

                    <label
                        :for="'cb-' + currentTask.id"
                        class="tgl-btn"
                    ></label>
                </div>
                <div class="delete">
                    <button
                        @click="deleteTask()"
                    >
                        Удалить
                    </button>
                </div>
            </div>

            <div
                class="item description"
                v-if="currentTask"
            >
                <div class="title">Описание:</div>
                <div class="content">{{ currentTask.description }}</div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        name: "Task",
        data() {
            return {
                disableAction: false,
            }
        },
        methods: {
            // блокируем кнопку "Назад", пока не завершится запрос
            deleteTask() {
                this.disableAction = true;

                this.$store.dispatch('deleteTask', {
                    task: this.currentTask, vm: this, routeToBack: true
                }).then(() => {
                    this.disableAction = false;
                });
            },
            // блокируем быстрые нажатия статуса задачи
            changeStatus(event) {
                this.disableAction = true;

                this.$store.dispatch('changeTask', {
                    id: this.currentTask.id,
                    status: event.target.checked
                }).then(() => {
                    this.disableAction = false;
                })
            },
        },
        computed: {
            ...mapGetters([
                'currentTask'
            ])
        },
        mounted() {
            this.$store.state.currentTask = null;

            if (!this.$store.state.tasks) {
                this.$store.dispatch('fetchTasks', this.$route.params.categoryId);
            }

            this.$store.dispatch('getCurrentTask', this.$route.params.taskId);
        },
    }
</script>

<style scoped>
</style>
